#background-div{
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;

}
#game-frame{
    background-color: red;
    position:absolute;
    margin:0;
    min-height: 660px;
    min-width: 880px;


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
}

#game-grid-frame{
    position: absolute;
    background-color: purple;
    height: 70%;
    width: 80%;
    margin: 0;
    padding: 0;

    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#game-grid-frame{
    padding:0;
    margin: 0;
    background-color: aqua;
    opacity: 0.8;
}
#game-frame-bottom{
    background-color: rebeccapurple;
    width: 800px;
    height: auto;
    position: absolute;
    bottom: 20px;
    left: 0;

    padding: 0 40px 0 40px;
    margin: 5px 5px 5px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.knob{
    background-color: seashell;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
}
.knob>.inner{
    background-color: rgb(175, 99, 49);
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}